@import '../base/lista';


.carousel-item {
    
    
    .carrousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: nth($colores , 4);
    
    }
}