@import '../base/lista';


.carousel-item {
    height: 450px;
    }
    .carrousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: nth($colores , 4);
    
    }