@import '../base/lista';
*{
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: alta-light;
    src: url(../font/alta-light.otf);
}



a {
    text-decoration: none;
    color: nth($colores , 8);
    &:hover {
        color: nth($colores , 9)
    }
}

.titulo1{
    display: flex;
    justify-content: center;
    font-family: alta-light;
    padding: 1rem;
    background-color: nth($colores , 4);
    font-size: 400%;
    text-align: center;
    margin-bottom: 0rem; 
    font-weight: 500;
    line-height: 1;
}

.disclaimer {
    display: none;
    position: none;
}
